@charset "UTF-8";
/* CSS Document */

$black : #222222;

$white: #efefef;

$salmon : #F76161;

$red : #ff2e2e;

$skyblue : #37b5ff;

$green : #50c14e;

$purple : #bf37c7;

@font-face {
	font-family:GoldenRatio-Demo;
	src:url(assets/fonts/GoldenRatio-Demo.otf);
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family:NordicaHairline;
	src:url(../assets/fonts/NordicaHairline.otf);
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family:Comfortaa-Regular;
	src:url(assets/fonts/Comfortaa-Regular.otf);
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family:Comfortaa-Regular;
	src:url(assets/fonts/Comfortaa-Regular.ttf);
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family:Comfortaa-Bold;
	src:url(assets/fonts/Comfortaa-Bold.ttf);
	font-style:normal;
	font-weight:normal;
}

@font-face {
	font-family:Comfortaa-Bold;
	src:url(assets/fonts/Comfortaa-Bold.otf);
	font-style:normal;
	font-weight:normal;
}

* {
	font-family:Comfortaa, sans-serif;
	font-weight:100;
	margin:0;
	padding:0;
	font-size:62.5%;
	box-sizing:border-box;
}

body {
	height:100vh;
	background:linear-gradient(230deg, #02ef97,#0364c7);
	display:flex;
}

header div {
	text-align:center;
	padding:2rem;
}

header {
	background:#fff;
}

h1 {
	margin:0 auto;
	max-width:500px;
}

select, input {
	font-family:NordicaHairline;
	font-weight:800;
	text-shadow:1px 1px black;
}

h2, h2 span {
	font-size:3rem;
	margin-top:2rem;
}

h2 span {
	color:$skyblue;
}

h3 {
	display:inline-block;
	margin:0 20px;
	position:relative;
	bottom:12px;
}

h3 span {
	color:#fff;
	font-size:2rem;
}

h4 {
	color:#fff;
	font-size:25px;
	padding:0 0 20px;
	text-shadow:1px 1px black;
}

p {
	color:$white;
}

form {
	text-align:center;
}

main {
	background:black;
	padding:20px;
	span {
		color:$white;
		font-size:2.5rem;
		margin:1.5rem;
	}
}

select, input {
	font-size:2.5rem;
	color:$white;
	border:2px solid #fff;
	background:none;
	height:50px;
	width:100%;
}

option {
	font-size:2.5rem;
}

option span {
	text-align:center;
}

input#submit {
	padding:1rem;
	transition:.2s;
}

input:hover, select:hover, option {
	background:#fff;
	color:$black;
	text-shadow:none;

}

div#wrapper {
	align-self:center;
	margin:0 auto;
	padding:15px 0;
}

/*AUDIO PLAYER*/

#submitContent {
	padding:10px 0;
    width: 100%;
    background: #000;
    z-index: 1;
}

#tuneTitle {
	color:$skyblue;
}

.glyphicon {
	font-size:50px;
	color:#fff;
}

#play {
	transition:.2s;
	margin-right:10px;
	background:none;
	border:none;
}

#play:hover {
	color:$skyblue;
}

#audiocontrols {
	display:inline-block;
	padding-left:14px;
	border-left:2px solid white;
}

#audioplayer {
	width:100%;
}

#volumeslider {
	width:100px;
	background:none;
	float:right;
	margin-right:5px;
}

#submitDiv {
	text-align:center;
	padding-top:3rem;
}

footer {
	margin-top:20px;
	p,a {
		font-size:15px;
		text-shadow:1px 1px black;
	}
}
@media all and (max-width: 992px) {
	footer {
		width:inherit;
	}
	
	#volumeslider {
		width:80px;
	}
	
	main {
		text-align:center;
	}
	
	h2 {	
		display:none;
	}	
	main span {
		display:none;
	}
	select {
		width:100%;
		margin-bottom:-2px;
	}
	
	#submitDiv {
		padding-bottom:3rem;
	}
}
@media all and (max-width:550px), all and (max-height:750px){
	body {
		display:block;
		height:auto;
	}
	h3 {
		margin:.5rem;
		text-align:center;
		display:block;
		position:static;
		padding:0 0 10px 0;
		border-bottom:2px solid #fff;
	}
	h3 span {
		font-size:1.75rem;
	}
	h4 {
		font-size:2rem;
	}
	section {
		width:inherit;
		height:inherit;
	}
	#audiocontrols {
		border:none;
		text-align:center;
		display:block;
		padding-left:0;
	}
	#volumeslider {
		float:none;
		display:inline;
	}
	#submitDiv {
		padding-bottom:0;
	}
	#submitContent {
		padding-top:0;
	}
}